@font-face{
    font-family: "Inv";
    src: url('/lens-geld/public/assets/fonts/Inversionz.ttf')
   }
   
   @font-face {
       font-family: 'Archivo Black';
       src: url('/lens-geld/public/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
   }

body {
    font-family: 'Archivo Black';
    background-color: var(--background);
    color: var(--text);
    height: 100%;
}
button{
   
}
#perfil-btn{
    color: var(--bars-text);
    font-weight: 400;
    background: var(--button);
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}


:root {
    --main: white;
    --secondary: #1c283e;
    --background: #efebe7;
    --button: #1c283e;
    --hover: #264c68;
    --text: #1c283e;
    --shadow: #333;
    --moon: white;
    --sun: #ffffff;
    --menu-text: white;
    --mensagem-user: #1c283e;
    --user-text: #f1f1f1;
    --mensagem-ma: #f1f1f1;
    --bars: #1c283e;
    --bars-text: #f1f1f1;
    --gastos: #e61d1d;
    --dinheiro:#6B8E23;
}

.dark-mode{
    --main: #1c283e ;
    --secondary: #6b8ea7;
    --background:#1c283e;
    --button: #0c182e;
    --hover: #6b8ea7;
    --text:white;
    --shadow: #555555;
    --moon: #ffffff;
    --sun: #0b101b;
    --menu-text: white;
    --mensagem-user: #f1f1f1;
    --user-text: #1c283e;
    --mensagem-ma: #1c283e;
    --bars: #0b101b;   
    --bars-text: #f1f1f1; 
    --gastos: #A50034;
    --dinheiro:#8BC34A;
    }

.config-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--config-background,--text);
    border-radius: 8px;
}

.config-section {
    margin-bottom: 20px;
}

.config-section h2 {
    color: var(--text);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
}

input[type="color"] {
    width: 100%;
    height: 40px;
}
 /* ----------------------------------------------------BODY-------------------------------------------------------------------*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Archivo Black';
   }
   html{
    font-size: 14px;
 }

   /* Container geral que contém todas as seções */
   .container {
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima para evitar que o conteúdo ultrapasse a tela */
    margin: 0 auto; /* Centraliza o conteúdo da página */
    padding: 20px; /* Adiciona um padding para evitar que o conteúdo grude nas bordas */
    box-sizing: border-box; /* Garante que o padding seja contado no tamanho total */
}
button:hover {
    background-color: var(--hover); /* Cor de fundo do botão ao passar o mouse */
    color: var(--moon); /* Cor do texto do botão ao passar o mouse */
}

section{
    padding: 50px, 10%;
}
*::selection{
    color: #ffffff;
    background: var(--hover);
}
img{
    width: 100%;
    border-radius: 15%;
   }
   main{
    color: var(--text);/*cor dos textos no main*/
}
  /*--------------------------------------------SIDE-NAVBAR--------------------------------------------*/
  .main{
    width: 100%;
    background-color: var(--bars);
 }
 .side-navbar{
    position: fixed;
    height: 100vh;
    width: 260px;
    background: var(--bars);
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 0;
}
.side-navbar ul{
    top: 0;
    left: 0;
    width: 100%;
}
.side-navbar ul li{
    width: 100%;
}
.side-navbar ul li:hover{
    background: var(--hover);
}
/*Impede hover na img e no LG*/
.side-navbar ul li:first-child{
    margin-bottom: 1rem;
    background: none;
  }
  /*compacta os textos e formata eles*/
  .side-navbar ul li a{
    display: block;
    width: 100%;
    display: flex;
    color: var(--bars-text);
  }
  /*separa os itens e aumenta o tamanho deles*/
  .side-navbar ul li a .icon{
    min-width: 60px;
    display: block;
    font-size: 25px;
    line-height: 60px;
    height: 60px0;
    text-align: center;
  }
  /* Muda o tamanho dos textos*/
.side-navbar ul li a .text{
    display: block;
    padding: 13px 20px;
    line-height: 30px;
    height: 60px;
    white-space: nowrap;
}
/*Coloca o texto LG no lugar*/
.text .LensGeld{
    font-family: 'inv';
    padding: 20px 10px;
    line-height: 50px;
}
.content{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    transition: 0.5s ease;
    background: var(--background);
    padding-bottom: 50px;
}
.content.active{
    width: calc(100% - 60px);
    left: 60px;
}
.side-navbar.active{
    width: 60px;
}

/* Estilo para o switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #66bb6a; /* Cor verde para o modo escuro */
}

input:checked + .slider:before {
    transform: translateX(26px); /* Move o botão para a direita */
}

/* Estilo adicional para quando o modo escuro está ativado */
body.dark-mode {
    background-color: #1c283e; /* Cor de fundo para o modo escuro */
    color: white; /* Texto branco no modo escuro */
}

/* Alterações no texto e na cor de fundo */
body.dark-mode .switch .slider {
    background-color: var(--mensagem-ma); /* Cor verde para o modo escuro */
}

body.dark-mode .switch .slider:before {
    background-color: #fff; /* Cor branca do círculo do switcher */
}
/*---------------------------------------------------TOP-NAVBAR---------------------------------------*/
/* Estilos para a Top Navbar */
.top-navbar {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente todos os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 20px 10%; /* Ajuste do padding para espaçamento adequado */
    background-color: var(--bars); /* Cor de fundo da barra */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Sombra suave para dar profundidade */
    transition: 0.3s ease-in-out; /* Transição suave em alterações */
}

/* Configuração para a logo e o título */
.title-container {
    display: flex; /* Flexbox para alinhar os títulos */
    flex-direction: column; /* Organiza os elementos em uma coluna */
    justify-content: center; /* Garante que os itens fiquem centralizados */
    align-items: center; /* Centraliza os itens no eixo transversal */
    color: var(--bars-text); /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
}

#LG {
    font-family: 'Inv'; /* Fonte personalizada */
    font-size: 45px; /* Tamanho da fonte */
    color: var(--bars-text); /* Cor do texto */
    margin: 0; /* Remove margens desnecessárias */
}

h1 {
    font-size: 20px; /* Tamanho do título "Configurações" */
    color: var(--bars-text); /* Cor do título */
    margin: 0; /* Remove margens desnecessárias */
}

/* Ajuste da altura da barra para garantir um bom espaçamento */
.top-navbar {
    padding: 20px 15px;
    background: var(--bars);
    box-shadow: var(--shadow);
}

/* Estilo para o logo e título */
.title-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--bars-text); /* Cor do texto */
    margin: 0;
}
