@font-face{
    font-family: "Inv";
    src: url('/lens-geld/public/assets/fonts/Inversionz.ttf')
   }

   @font-face {
       font-family: 'ArchivoBlack';
       src: url('/lens-geld/public/assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
   }

:root {
    --main: white;
    --secondary: #1c283e;
    --background: #efebe7;
    --button: #1c283e;
    --hover: #264c68;
    --text: #1c283e;
    --shadow: #333;
    --moon: white;
    --sun: #ffffff;
    --menu-text: white;
    --mensagem-user: #1c283e;
    --user-text: #f1f1f1;
    --mensagem-ma: #f1f1f1;
    --bars: #1c283e;
    --bars-text: #f1f1f1;
    --gastos: #e61d1d;
    --dinheiro:#6B8E23;
}

.dark-mode{
    --main: #1c283e ;
    --secondary: #6b8ea7;
    --background:#1c283e;
    --button: #0c182e;
    --hover: #6b8ea7;
    --text:white;
    --shadow: #555555;

    --moon: #ffffff;
    --sun: #0b101b;
    --menu-text: white;
    --mensagem-user: #f1f1f1;
    --user-text: #1c283e;
    --mensagem-ma: #1c283e;
    --bars: #0b101b;   
    --bars-text: #f1f1f1; 
    --gastos: #A50034;
    --dinheiro:#8BC34A;
    }

body {
  font-family: ArchivoBlack;
}

.graficos-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--text);
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para o seletor de ano */
.seletor-ano {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Espaço de 5px entre o label e o seletor */
  margin-bottom: 10px;
}

.seletor-ano select {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--mensagem-ma);
  background-color: var(--mensagem-user);
  color: var(--user-text);
  outline: none;
  cursor: pointer;
}

/* Estilo para os botões de alternância de gráfico */
.botoes-graficos {
  display: flex;
  gap: 5px; /* Espaço de 5px entre os botões */
  justify-content: center;
  margin-bottom: 20px;
}

.botoes-graficos button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: var(--button);
  color: var(--menu-text);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button {
  background-color: #1c283e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.botoes-graficos button:hover {
  background-color: #14203a;
}

button:hover {
  background-color: #ff9800;
}

canvas {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
/* Estilos para o Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para os botões do modal */
#lista-anos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lista-anos button {
  background-color: #1c283e;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 80px;
}

#lista-anos button:hover {
  background-color: #3e4b60;
}

/* Estilos para os gráficos */
#graficoMensal {
  width: 80%;
  margin: 20px auto;
}
 /* ----------------------------------------------------BODY-------------------------------------------------------------------*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  text-decoration: none;
  list-style: none;
  font-family: 'ArchivoBlack';
 }
 html{
  font-size: 14px;
  font-family: 'ArchivoBlack';
}
/* Garantir que o gráfico e as seções abaixo não saiam do layout */
body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

 /* Container geral que contém todas as seções */
 .container {
  width: 100%;
  max-width: 1200px; /* Limita a largura máxima para evitar que o conteúdo ultrapasse a tela */
  margin: 0 auto; /* Centraliza o conteúdo da página */
  padding: 20px; /* Adiciona um padding para evitar que o conteúdo grude nas bordas */
  box-sizing: border-box; /* Garante que o padding seja contado no tamanho total */
}
button:hover {
  background-color: var(--hover); /* Cor de fundo do botão ao passar o mouse */
  color: var(--moon); /* Cor do texto do botão ao passar o mouse */
}

section{
  padding: 50px, 10%;
}
*::selection{
  color: #ffffff;
  background: #6b8ea7;
}
img{
  width: 100%;
  border-radius: 15%;
 }
 main{
  color: var(--text);/*cor dos textos no main*/
}
   /*--------------------------------------------SIDE-NAVBAR--------------------------------------------*/
   .main{
    width: 100%;
    background-color: var(--bars);
 }
 .side-navbar{
    position: fixed;
    height: 100vh;
    width: 260px;
    background: var(--bars);
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 0;
}
.side-navbar ul{
    top: 0;
    left: 0;
    width: 100%;
}
.side-navbar ul li{
    width: 100%;
}
.side-navbar ul li:hover{
    background: var(--hover);
}
/*Impede hover na img e no LG*/
.side-navbar ul li:first-child{
    margin-bottom: 1rem;
    background: none;
  }
  /*compacta os textos e formata eles*/
  .side-navbar ul li a{
    display: block;
    width: 100%;
    display: flex;
    color: var(--bars-text);
  }
  /*separa os itens e aumenta o tamanho deles*/
  .side-navbar ul li a .icon{
    min-width: 60px;
    display: block;
    font-size: 25px;
    line-height: 60px;
    height: 60px0;
    text-align: center;
  }
  /* Muda o tamanho dos textos*/
.side-navbar ul li a .text{
    display: block;
    padding: 13px 20px;
    line-height: 30px;
    height: 60px;
    white-space: nowrap;
}
/*Coloca o texto LG no lugar*/
.LensGeld{
    color:var(--bars-text);
    font-family: 'inv';
    padding: 20px 10px;
    line-height: 50px;
}
.content{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    transition: 0.5s ease;
    background: var(--background);
    padding-bottom: 50px;
}
.content.active{
    width: calc(100% - 60px);
    left: 60px;
}
.side-navbar.active{
    width: 60px;
}
/*TOP-NAVBAR*/

.title-container {
  display: flex; /* Usar flexbox para alinhar os textos */
  align-items: center; /* Alinhar verticalmente ao centro */
  gap: 10px; /* Espaçamento entre os textos (ajuste conforme necessário) */
  color: var(--bars-text)
}

#LG{
  font-family: "inv";
  align-self: center;
  margin-bottom: -2%;
}

.top-navbar{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bars);
  margin-bottom: 20px;
  gap: 15px;
  justify-content: center;
  gap: 10%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  
}

/* Ícone do menu */
.menu-icon {
  font-size: 28px;
  cursor: pointer;
}

/*perfil config2*/
.btn-menu {
  width: 56px;
  height: 56px;
  float: right;
  background-image: url('/Lens_Geld_completo/public/assets/img/foto_usuario.jpg');
  background-size: cover; /* Ajusta a imagem para cobrir toda a área do elemento */
  background-position: center;
  text-align: center;
  border-radius: 56px;
  cursor: pointer;
}

.bx-menu:before {
  content: "\eb5f";
}
#change-photo-btn {
  background-color: #1c283e; /* Cor do botão */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#change-photo-btn:hover {
  background-color: #2c3e50; /* Efeito de hover */
}

input[type="file"] {
  display: none; /* Oculta o campo de input de arquivos */
}


.menu {
  align-content: auto;
  display:none;
  padding-right: 10px;
  width: 25%;
  height: 25%;
  position: fixed;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 55px;
  right: 0;
  box-shadow: #333;
  justify-content: flex-start;
}

.menu.show {
  display: block;
}

.out{
  display: flex; /* Usar flexbox para alinhar os textos */
  align-items: center; /* Alinhar verticalmente ao centro */
  gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.conf{
  display: flex; /* Usar flexbox para alinhar os textos */
  align-items: center; /* Alinhar verticalmente ao centro */
  gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.edit{
  display: flex; /* Usar flexbox para alinhar os textos */
  align-items: center; /* Alinhar verticalmente ao centro */
  gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.menu ul, #mode-toggle {
  width: 100%; 
  float: right; 
  text-align: left;
}

.menu li a, #mode-toggle {
  font-size: 1.3em;
  padding: 1.5% 3%;
  color: var(--menu-text);
}
.menu li a:hover{
  color: var(--hover);
  font-size: 1.4em;
}

.btn-closed{
  font-size: 1.5em;
  color: white;
  float: right; cursor: pointer;
  margin: 2% 10% 0 0;
}

.profileicon{
  padding-left: 10px;
  color: var(--menu-text);
}

/* Estilo para o botão de menu */
#menu-icon {
  font-size: 34px; /* Tamanho do ícone de menu */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  color: var(--bars-text);
}

.content.active{
  width: calc(100% - 60px);
  left: 60px;
}
/* Estilizando o rodapé */
.footer {
  background-color: var(--bars);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;  /* Garantir que o rodapé fique abaixo do conteúdo principal */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9em;
}

.footer-links a:hover {
  text-decoration: none;
  background-color: var(--hover);
}

/* Estilos para garantir que o conteúdo da página empurre o rodapé para o fundo */
body {
  font-family: 'ArchivoBlack';
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o conteúdo principal tenha altura mínima da tela */
}

.main-content {
  flex-grow: 1; /* Isso permite que o conteúdo ocupe o espaço disponível e empurre o rodapé para baixo */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .side-navbar {
      width: 60px; /* Largura reduzida em telas pequenas */
  }
  .side-navbar .text {
      display: none; /* Esconde o texto em telas pequenas */
  }
  .side-navbar.active {
      width: 60px; /* Largura ativa em modo de compactação */
  }
  .side-navbar.active .text {
      display: none; /* Esconde texto em modo ativo */
  }
}