@font-face {
    font-family: 'ArchivoBlack';
    src: url('/Lens_Geld_completo/public/IA/static/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inv';
    src: url('/Lens_Geld_completo/public/IA/static/fonts/Inversionz.ttf') format('truetype');
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
}
.menu.show {
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
}

h1, h2, h3, p {
    font-family: 'Archivo Black', sans-serif;
}


img{
    width: 100%;
    border-radius: 15%;
    overflow-clip-margin: content-box;
    overflow: clip;
   }



.LensGeld{
    font-family: "inv";
    font-size: 70px;
    font-weight: bolder;
    color: white;
}

body {
    font-family: 'ArchivoBlack', sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    height: 100%;
}

#mode-toggle {
    color: #1c283e;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    margin: 2% 10% 0 0;
}

#mode-toggle:hover {
    color: var(--hover);
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
}

#chat-section {
    margin-top: 20  px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background);
    overflow-y: auto;
}

#chat-section, #perfil-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #1c283e;
    border-radius: 5px;
}

.chat-output {
    flex: 1;
    overflow-y: auto;
}

.message {
   
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%; /* Aumentar a largura máxima */
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Animação de fade */
}
.user-message {
    background-color: var(--mensagem-user);
    color: var(--user-text);
    align-self: flex-end;
}

.maia-message {
    background-color: var(--mensagem-ma);
    color: #333;
    align-self: flex-start;
}

.message:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Input e botão */
.input-container {
    display: flex;
    margin-top: 10px;
}

button#send-button {
    padding: 10px 20px;
    background-color: #1c283e;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="text"], #send-button, #calc, #reset-button{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1c283e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1c283e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.reset-button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1c283e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #6b8ea7;
    color: #1c283e;
}

.perfil-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f1f1f1;
}

.recomendacoes {
    list-style-type: none;
}

.result {
    display: none;
    margin-top: 20px;
}

/* Scroll suave no chat */
.chat-output {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input[type="radio"] {
    margin-right: 10px;
}

/* ----------SIDEBAR----------- */
.main{
    width: 100%;
    background-color: #ececec;
 }
 html{
    font-size: 14px;
 }
.side-navbar{
    width: 250px;
    height: 100vh;
    background: var(--bars);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.side-navbar ul{
    padding: 0;
    top: 0;
    left: 0;
}

.side-navbar ul li{
    display: flex;
    align-items: center;
}

.side-navbar ul li:hover{
    background: var(--hover);
}

.side-navbar ul li:first-child{ /*impede o hover no lg*/
  margin-bottom: 1rem;
  background: none;
}

.side-navbar ul li a{   
  display: block;
  width: 100%;
  display: flex;
  color: var(--bars-text);
}

.side-navbar ul li a .icon{
  min-width: 60px;
  display: block;
  font-size: 20px;
  line-height: 60px;
  height: 60px0;
  text-align: center;
}
.side-navbar ul li a .text{
    display: block;
    padding: 13px 20px;
    line-height: 30px;
    height: 60px;
    white-space: nowrap;
}
.text .LensGeld{
    padding: 20px 10px;
    line-height: 50px;
    
}
.content{
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    transition: 0.5s ease;
    background: var(--background);
}

@media (max-width:768px){
    .content{
        width: 100%;
        left: 0;
    }
    .side-navbar{
        width: 60px;
        left: -60px;
    }
    .content.active{
        width: calc(100% - 60px);
        left: 60px;
    }
    .side-navbar.active{
        left: 0;
    }
}

*::selection{
    color: #ffffff;
    background: #6b8ea7;
}

/*TOP-NAVBAR*/

.icon-switch-container {
    display: flex; /* Usar flexbox para alinhar os itens */
    align-items: center; /* Alinhar verticalmente ao centro */
    gap: 5%; /* Espaçamento entre os itens (ajuste conforme necessário) */
}

.title-container {
    display: flex; /* Usar flexbox para alinhar os textos */
    align-items: center; /* Alinhar verticalmente ao centro */
    gap: 10px; /* Espaçamento entre os textos (ajuste conforme necessário) */
    color: var(--bars-text)
}

#LG{
    font-family: "inv";
    align-self: center;
    margin-bottom: -2%;
}

.top-navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--bars);
    margin-bottom: 20px;
    gap: 15px;
    justify-content: center;
    gap: 10%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

/* Ícone do menu */
.menu-icon {
    font-size: 28px;
    cursor: pointer;
}

/*perfil config2*/
.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    background:'bx bxs-user';
    background-position: center;
    text-align: center;
    border-radius: 56px;
    cursor: pointer;
}

.bx-menu:before {
    content: "\eb5f";
}

.menu {
    align-content: auto;
    display:none;
    padding-right: 10px;
    width: 25%;
    height: 25%;
    position: fixed;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-top: 55px;
    right: 0;
    box-shadow: #333;
    justify-content: flex-start;
}

.menu.show {
    display: block;
}

.out{
    display: flex; /* Usar flexbox para alinhar os textos */
    align-items: center; /* Alinhar verticalmente ao centro */
    gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.conf{
    display: flex; /* Usar flexbox para alinhar os textos */
    align-items: center; /* Alinhar verticalmente ao centro */
    gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.edit{
    display: flex; /* Usar flexbox para alinhar os textos */
    align-items: center; /* Alinhar verticalmente ao centro */
    gap: 2px; /* Espaçamento entre os textos (ajuste conforme necessário) */
}

.menu ul, #mode-toggle {
    width: 100%; 
    float: right; 
    text-align: left;
}

.menu li a, #mode-toggle {
    font-size: 1.3em;
    padding: 1.5% 3%;
    color: var(--menu-text);
}
.menu li a:hover{
    color: var(--hover);
    font-size: 1.4em;
}

.btn-closed{
    font-size: 1.5em;
    color: #1c283e;
    float: right; cursor: pointer;
    margin: 2% 10% 0 0;
}

.profileicon{
    padding-left: 10px;
    color: var(--menu-text);
}

/* Estilo para o botão de menu */
#menu-icon {
    font-size: 34px; /* Tamanho do ícone de menu */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    color: var(--bars-text);
}

.content.active{
    width: calc(100% - 60px);
    left: 60px;
}


/* Cores Root*/

:root {
    --main: white;
    --secondary: #1c283e;
    --background: #efebe7;
    --hover: #264c68;
    --text: #1c283e;
    --shadow: #333;
    --moon: white;
    --sun: #ffffff;
    --menu-text: white;
    --mensagem-user: #1c283e;
    --user-text: #f1f1f1;
    --mensagem-ma: #f1f1f1;
    --bars: #1c283e;
    --bars-text: #f1f1f1;
}

.dark-mode{
    --main: #1c283e ;
    --secondary: #6b8ea7;
    --background:#1c283e;
    --text:white;
    --shadow: #555555;

    --moon: #1c283e;
    --sun: white;
    --menu-text: white;
    --mensagem-user: #f1f1f1;
    --user-text: #1c283e;
    --mensagem-ma: #1c283e;
    --bars: #0b101b;   
    --bars-text: #f1f1f1; 
    }

/* Switch dark mode */
.switch input:checked + .slider {
    background-color: var(--secondary) /* Cor do slider no modo escuro */
}

.switch input:checked + .slider:before {
    background-color: var(--secondary) /* Cor do botão no slider quando ativado */
}

.sun-icon, .moon-icon {
    display: inline; /* Garante que ambos sejam exibidos inline */
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer; /* Para indicar que são interativos */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

.moon-icon {
    opacity: 0; /* Inicialmente invisível */
}

.dark-mode .moon-icon {
    display: inline; /* Exibe a lua quando em modo escuro */
    opacity: 1; /* Torna a lua visível */
}

.dark-mode .sun-icon {
    opacity: 0; /* Torna o sol invisível em modo escuro */
}

button:hover {
    background-color: var(--hover); /* Cor de fundo do botão ao passar o mouse */
    color: var(--moon); /* Cor do texto do botão ao passar o mouse */
}

/* Alterações para os ícones de sol e lua */


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:checked + .slider {
    background-color: #1c283e; /* Cor do slider quando ativo */
}

.switch input:checked + .slider:before {
    background-color: #ffffff; /* Cor do botão do slider quando ativo */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--background);
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.moon-icon {
    opacity: 0; /* Começa invisível */
}

input:checked ~ .moon-icon {
    opacity: 1; /* Torna a lua visível quando ativado */
}

input:checked ~ .sun-icon {
    opacity: 0; /* Torna o sol invisível quando ativado */
}

/* Estilos para o indicador de carregamento */
.thinking-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    display: none; /* Inicialmente escondido */
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .side-navbar {
        width: 60px; /* Largura reduzida em telas pequenas */
    }
    .side-navbar .text {
        display: none; /* Esconde o texto em telas pequenas */
    }
    .side-navbar.active {
        width: 60px; /* Largura ativa em modo de compactação */
    }
    .side-navbar.active .text {
        display: none; /* Esconde texto em modo ativo */
    }
}